
  html {
    box-sizing: border-box;
  }
  header{
    margin: 0px;
  }
  nav{
    margin-bottom: 10px;
  }
  body{
    margin-bottom: 0px;
  }
  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }